@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-100 text-slate-800;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Custom Scrollbar Global */
::-webkit-scrollbar {
  width: 8px; /* Width for vertical scrollbars */
  height: 6px; /* Height for horizontal scrollbars */
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* slate-300 */
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #f59e0b; /* amber-500 */
}

.font-fleur {
  font-family: 'Fleur De Leah', cursive !important;
}
