# Python
__pycache__/
*.py[cod]
*.env
.env
# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
node_modules/
.output/
dist/
.DS_Store

# VSCode
.vscode/

# Virtualenv
venv/
**/venv/

# Deployment Keys
github-actions
github-actions.pub
